@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: auto;
    max-height: 900px;
    padding-bottom: 20rem;
}

body.modal_open {
    overflow: hidden;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

p {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    margin-right: 12rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

button {
    outline: none;
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    background: white;
    overflow-x: auto;   
    width: 40rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
}

.modal-header {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.modal-content {
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 2rem;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:before, .modal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}

.main-content {
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    padding-left: 6rem;
}

.main-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 3.5rem;
    width: 8rem;
    background-color: rgb(45, 129, 255);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 100;
    transition-duration: 0.3s;
}

.main-button:hover {
    background-color: rgb(32, 77, 143);
}